.gradle
**/build/
!src/**/build/
.idea
out/
screenshots/
gradlew/

gradle-app.setting
settings.gradle
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache
.project
.classpath
.DS_Store
*.bat
*.jar
*.properties
*.iml
*.log
